.models {
  border: 2px solid black;
  background-image: linear-gradient(120deg, #0000007e 0%, #4a4b4b 100%);
  border-radius: 5px;
  .models_title {
    color: #ffffff;
    background-color: #000000;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
  }
  ul {
    list-style: none;
    color: #fdfa2d;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px 0;
    padding: 10px;
    .reset{
      height: 30px;
      width: 30px;
      &:hover{
        transform: rotate(-360deg);
        transition: .5s ease;
        transition-delay: .2s;
      }
    }
    li {
      min-width: 25%;
      max-width: fit-content;
      text-transform: uppercase;
      text-align: center;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      &:first-child{
        color: aqua;
      }
    }
  }
}
