.singleCard {
  height: 300px;
  width: 400px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid #fff;
  &:last-child {
    flex: none;
  }
  .image_section {
    width: 100%;
    height: 70%;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, transparent 95%, #a1c4fd 100%);
      pointer-events: none;
    }
  }
  .cardDetails {
    padding: 0 10px;
    filter: contrast(1.2);
    .card_title {
      font-size: 18px;
      letter-spacing: 0.5px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
            font-family: "Inter", sans-serif;

    }
  }
  &:hover {
    cursor: pointer;
    .card_title {
      color: rgb(2, 105, 105);
      transition: 0.2s ease;
    }
    .image_section img {
      filter: brightness(1.1);
      transition: 0.2s ease;
    }
  }
  @media (max-width: 780px) {
    flex: 1 30%;
    height: auto;
  }
}
