.phoneCard {
  height: 250px;
  width: 100%;
  background-image: linear-gradient(to left, #a7a6a6 60%, rgb(255, 255, 255) 100%);
  box-shadow: 2px 4px 5px #000000;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  text-decoration: none !important;
  filter: contrast(1.2);

  .phone_img {
    height: 100%;
    width: 200px;
    padding-right: 20px;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .phoneDetails {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    .titleCont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .phoneTitle {
        color: #000000;
        letter-spacing: 1px;
        margin-top: 5px;
        font-size: 30px;
        font-weight: 500;
      }
      .store {
        height: 50px;
        width: 100px;
        margin-right: 5px;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
    .phoneDescription {
      color: #000000;
      font-family: "Inter", sans-serif;
      border-bottom: 1px solid gray;
      padding-bottom: 5px;
    }
    .phone_spec {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      align-items: flex-start;
      font-weight: 400;
      color: #000000;
      margin-bottom: 10px;
      .three_items {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        &:first-child {
          border-right: 2px solid gray;
          padding-right: 5px;
        }
        &:last-child {
          padding-left: 5px;
        }
        .spec_item {
          display: flex;
          align-items: center;
          justify-content: center;
          .spec_icon {
            color: #222222;
          }
          .spec_data {
            margin-left: 10px;
          }
        }
      }
    }
    .price_sec {
      position: absolute;
      bottom: 10px;
      right: 0px;
      background-color: #222222;
      border-radius: 20px 0;
      padding: 5px;
      .price {
        font-size: 30px;
        color: gold;
        text-shadow: 1px 1px 5px #000000;
        position: relative;
      }
      .discount {
        position: absolute;
        top: -20px;
        right: 0;
        font-size: 15px;
        color: rgb(255, 255, 255);
        background-color: red;
        padding: 2px;
      }
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px gray;
    transition: 0.1s ease;
    filter: contrast(1.2);
  }
}
@media (max-width: 700px) {
  .phoneCard {
    height: 200px;
    .phone_img {
      width: 100px;
      height: 100%;
      margin: 0 auto;
      padding: 0;
      img{
      object-fit: contain;
      }
    }
    .phoneDetails {
      .titleCont {
        .phoneTitle {
          font-size: 20px !important;
        }
        .store {
          width: 50px !important;
        }
      }
      .phoneDescription {
        font-size: 12px;
        margin-top: 0;
      }
      .phone_spec {
        font-size: 10px;
      }
      .spec_data {
        margin-left: 2px !important;
      }
      .price_sec {
        position: absolute;
        bottom: 30px;
        .price {
          font-size: 18px !important;
        }
        .discount {
          font-size: 12px !important;
        }
      }
    }
  }
}
