.phoneCard {
  height: 250px;
  background-image: linear-gradient(to left, #434343 70%, black 100%);
  box-shadow: 2px 4px 5px #000000;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  text-decoration: none !important;
  .phone_img {
    height: 100%;
    width: 200px;
    padding-right: 20px;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .phoneDetails {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    .titleCont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .phoneTitle {
        color: #fdc62d;
        letter-spacing: 1px;
        text-shadow: 1px 2px 3px #000000;
        margin-top: 5px;
        font-size: 30px;
      }
      .store {
        height: 50px;
        width: 100px;
        margin-right: 5px;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
    .phoneDescription {
      color: #fff;
      text-shadow: 1px 1px 2px rgb(41, 41, 41);
      font-family: "Inter", sans-serif;
    }
    .phone_spec {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-weight: bold;
      text-shadow: 1px 1px 3px rgb(0, 0, 0);
      color: #fdc62d;
      letter-spacing: 1px;
      margin-bottom: 10px;
      .spec_item {
        display: flex;
        align-items: center;
        justify-content: center;
        .spec_data {
          margin-left: 10px;
        }
      }
    }
    .price_sec {
      position: absolute;
      bottom: 10px;
      right: 10px;
      .price {
        font-size: 30px;
        text-decoration: underline;
        color: yellowgreen;
        text-shadow: 1px 1px 5px #000000;
        position: relative;
      }
      .discount {
        position: absolute;
        top: -20px;
        right: 0;
        font-size: 15px;
        color: rgb(255, 255, 255);
        background-color: red;
        padding: 2px;
      }
    }
    &:hover {
      cursor: pointer;
      transform: translateX(3px);
      transition: 0.3s ease;
    }
  }
}
@media (max-width: 700px) {
  .phoneCard{
    height: 200px;
    .phone_img{
      width: 100px;
      height: 100%;
      margin: 0 auto;
    }
  .phoneDetails {
    .titleCont {
      .phoneTitle {
        font-size: 20px !important;
      }
      .store {
        width: 50px !important;
      }
    }
    .phoneDescription {
      font-size: 12px;
      margin-top: 0;
    }
    .phone_spec {
      font-size: 12px;
    }
    .price_sec {
      .price {
        font-size: 25px !important;
      }
      .discount {
        font-size: 13px !important;
      }
    }
  }
}
}
