body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Oswald", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-image: linear-gradient(
  //   to top,
  //   #9d9d9e 0%,
  //   rgba(50, 50, 56, 0.801) 40%,
  //   #17171c 100%
  // );
  background-color: #2C2C31;
  scroll-behavior: smooth;
}
