.homeArticle {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  // background-color: #0000004d;
  &:hover {
    cursor: pointer;
  }
  &:hover .article_img {
    box-shadow: 0 0 5px #000000;
  }
  .article_img {
    width: 50%;
    height: 100%;
    margin-right: 15px;
    // border-radius: 10px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      // border-radius: 10px;
    }
  }
  .article_datails {
    width: 50%;
    height: 100%;
    padding-right: 5px;
    // border-bottom: 2px solid #c4c4c4;
    // border-radius: 0 0 10px 0;
    position: relative;
    &:hover .art_title {
      text-decoration: underline;
      transition: 0.2s ease;
    }
    .art_title {
      color: #fcd010;
      letter-spacing: 1px;
      font-size: 23px;
      margin: 5px 0;
      font-weight: 200;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .art_description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 14px;
      color: #c4c3c3;
      text-shadow: 1px 1px 2px #000000;
      font-family: "Inter", sans-serif;
    }
    .art_date {
      font-size: 12px;
      color: #c4c3c3;
      position: absolute;
      right: 5px;
      bottom: 0px;
    }
  }
}
@media (max-width: 760px) {
  .homeArticle {
    .article_datails {
      width: 50%;
      height: 100%;
      border-bottom: 2px solid #a5a4a4;
      font-family: "Roboto", sans-serif;
      .art_title {
        letter-spacing: 1px;
        font-size: 20px !important;
      }
      .art_description {
        font-size: 12px;
      }
      .art_date {
        font-size: 10px;
        color: #c4c3c3;
      }
    }
  }
}
